@charset "UTF-8";
* { 
  margin: 0; 
  padding: 0; 

  list-style: none; 

  text-decoration: none; 
} 
 
#wrap { 

  width: 84%; 
  max-width: 1280px; 

  margin: 0 auto; 

} 

header { 
	background: #b0c4de;
color: #FFF; 

  padding: 20px;	
} 
 
.main-menu { 
  background: #4169e1; 
} 
 .main-menu ul { 
  display: flex; 
} 
 .main-menu ul li a { 

  color: #FFF; 

  display: block; 

  padding: 10px 20px; 

} 

 

.main-menu ul li a:hover { 

  background: #222; 

} 
main { 
  display: flex; 
} 

section { 
	background: #f3d2c1; 
	flex: 3;
padding: 20px;
} 
 
article { 
	background: #fef6e4; 
	  padding: 20px; 

  margin-bottom: 20px; 
} 
 
aside { 
	background: #fef6e4;
   flex: 1;	
} 
 
.sub-menu { 
	background: #999; 
} 
 .sub-menu ul li a { 

  color: #FFF; 

  display: block; 

  padding: 10px 20px; 

} 

 

.sub-menu ul li a:hover { 

  background: #666; 

} 
footer { 
	background: #6495ed; 
	  color: #FFF; 

  padding: 20px; 
  text-align: center; 
} 